@import "bourbon/bourbon";
@import "neat/neat";
@import "vendor/normalize";
@import "custom/variables";
@import "custom/mixins";
@import "custom/general";

*,
*::after,
*::before {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

.header-wrapper {
  width: 100%;
  background-color: $navy;
}

.header-container {
  overflow: auto;
  // width: 90%;
  margin-left: calc((100% - 81.25rem) / 2);
  margin-right: calc((100% - 81.25rem) / 2);
  // width: 90%;
  // margin:auto;
}

.logo {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 360px;
  height: 68px;
  float: right;
}

img {
  @include fluid-img;
}

// @include fluid-img;

.content-container {
  // width: 90%;
  // margin:auto;
  margin-left: calc((100% - 81.25rem) / 2);
  margin-right: calc((100% - 81.25rem) / 2);
  display: grid;
  grid-column-gap:1em;
  grid-template-columns: 18% 72%;
  grid-auto-rows: auto;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.sidebar {
  // @include grid-column(3);
  background-color: white;
  border-top: 1px solid $aqua;
  margin-top: 0.75em;
  // @include size(fit-content);
}

.main-content {
  // @include grid-column(9);
  background-color: white;
  padding-top: 0.75em;
  // @include size(fit-content);
}

.row-top {
  width: 100%;
  // display: grid;
  // grid-template-columns: 3fr 1fr;
  // grid-auto-rows: auto;
}

// .test {
//   width: 80%;
//   @include columns(2);
//   @include column-rule(solid 1px #ccc);
//   @include column-gap(20px);
//   background-color: aqua;
// }
//
// .test-image {
//   @include column-width(200px);
//   background-color: red;
// }
//
// .test-copy {
//   @include column-width(800px);
// }
//
// $test-col: 20% 70%;
//
//
// .test-three {
//   width: 100%;
//   @include columns(2 $test-col);
//   @include column-rule(solid 1px #ccc);
//   @include column-gap(20px);
//   background-color: aqua;
// }

// .test-three-copy {
//   @include columns(2);
// }
//
// .test-three-image {
//   @include columns(1);
// }



.hero {
  background-color: white;
  // margin-right: 0.5em;
  border-right: 1px solid $darkest-grey;
  display: grid;
  grid-auto-rows: auto;
}

.inner-hero {
  background-color: $light-grey;
  margin-right: 0.5em;
  border-top: 1px solid $aqua;
}

.top-right {
  background-color: $light-grey;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-top: 1px solid $aqua;
}

// .hero-row-big {
//   width: 100%;
// }
//
// @include breakpoint(desktop) {
// 		.hero-row-big {
//       display: grid;
//       grid-template-columns: 1fr 2fr;
//       grid-auto-rows: auto;
//     }
// 	}

.hero-row-big {
    width: 100%;
  // display: grid;
  // grid-template-columns: 1fr 2fr;
  // grid-auto-rows: auto;
  // margin-bottom: 1em;
  // grid-column-gap: 0.5em;
  // padding-left: 0.4em;
}

.hero-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  margin-bottom: 1em;
  grid-column-gap: 0.5em;
  padding-left: 0.4em;
}

.copy {
  padding-right: 0.4em;
}

.hero-footer-column {
  padding-right: 0.4em;
}

$test-three-layout-grid: (
  columns: 1,
  // gutter: 2rem;
);

$test-three-layout-grid--tablet-up: (
  columns: 5,
  // gutter: 2rem,
  media: "(min-width: 768px)",
);

.test-three {
  @include grid-container;
}

.test-three-layout__top {
  @include grid-column (1, $test-three-layout-grid);
  margin-bottom: 2rem;
}

.test-three-layout__left {
  @include grid-column(1, $test-three-layout-grid);
  margin-bottom: 2rem;

  @include grid-media($test-three-layout-grid--tablet-up) {
    @include grid-column(2);
  }
}

.test-three-layout__right {
  @include grid-column(1, $test-three-layout-grid);
  margin-bottom: 2rem;

  @include grid-media($test-three-layout-grid--tablet-up) {
    @include grid-column(3);
  }
}


//TESTING HERE CAUTION

.article-layout {
  @include grid-column(12);
  background-color: grey;
  height: auto;
}

.parent {
  @include grid-column(12);
  min-height: 2px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.article-layout__hero {
  @include grid-column(12);
  margin-bottom: 2rem;
  background-color: green;
  height: auto;
}

.article-layout__sidebar {
  @include grid-column(3);
  // margin-bottom: 2rem;
  background-color: blue;
  height: auto;
  margin-bottom: 1em;
}

.article-layout__main {
  @extend .article-layout__sidebar;
  @include grid-column(7);

}




//Test OVER



@include breakpoint(mobileonly) {
 //extend all child element divs 100% width
	  .header-container, .content-container, .hero-row-big, .hero-footer, .row-top, .inner-hero {
      width: 100%;
      display: unset;
      margin: 0;
      padding:0;
    }
    .hide-mobile {
      display: none;
    }
    .logo {
      width: 80%;
      float: none;
      margin-left: 0;
      margin-right: 0;
      background-color: red;
    }
    img {
      width: 300px;
    }
	}
