// @import "../bourbon/bourbon";
//colors

$aqua: #52C6DD;
$light-navy: #095787;
$navy: #08517D;
$dark-navy: #06466D;

$light-grey: #F5F5F5;
$grey: #F6F6F6;
$dark-grey: #EAEAEA;
$darkest-grey: #E1E1E1;
$almost-black: #333333;

$maroon: #932055;
$light-maroon: #FCADBA;
$gold: #3B3833;
